.sz-session__room {
  @apply !hidden;
}

#sessionize.sessionize-wrapper .sz-timezone .sz-timezone__name {
  @apply text-xl md:text-lg;
}

#sessionize.sessionize-wrapper .sz-timezone__radio input[type='radio']:checked + label,
#sessionize.sessionize-wrapper .sz-timezone__radio input[type='radio']:hover + label {
  box-shadow: inset 0 -0.125rem 0 0 theme('colors.black') !important;
}

#sessionize.sessionize-wrapper .sz-tabs__item--active .sz-tabs__link,
#sessionize.sessionize-wrapper .sz-tabs__link:hover,
#sessionize.sessionize-wrapper .sz-tabs__link:focus,
#sessionize.sessionize-wrapper .sz-tabs__link:active {
  @apply bg-black text-white !important;
}

#sessionize.sessionize-wrapper .sz-tabs__link {
  @apply text-black text-xl !important;
}

#sessionize.sessionize-wrapper .sz-cssgrid {
  @apply !gap-0;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-session__card:hover {
  @apply !bg-primary-1;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-session--service .sz-session__card {
  @apply border border-black bg-white !important;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-session__card {
  @apply border border-black shadow-none rounded-none bg-white !important;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-cssgrid__track-label {
  @apply border border-black border-t-2 font-bold !text-xl !rounded-none;
}

#sessionize.sessionize-wrapper .sz-session__speakers a {
  @apply opacity-50;
}

#sessionize.sessionize-wrapper .sz-session__speakers a:hover,
#sessionize.sessionize-wrapper .sz-session__speakers a:focus,
#sessionize.sessionize-wrapper .sz-session__speakers a:active {
  @apply opacity-100;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-cssgrid__time-separator {
  @apply border-solid border-t-2 border-black -mt-px !important;
}

#sessionize.sessionize-wrapper .sz-speaker__links .sz-speaker__link,
#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__name,
#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__tagline,
#sessionize.sessionize-wrapper .sz-timezone__radio input[type='radio']:checked + label {
  @apply !text-black;
}

#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__tagline {
  @apply opacity-60;
}

#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__sessions li {
  @apply pl-0 text-primary-2 !important;
}

#sessionize.sessionize-wrapper a:hover,
#sessionize.sessionize-wrapper a:focus,
#sessionize.sessionize-wrapper a:active {
  @apply shadow-none text-black !important;
}

#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__sessions li::before {
  @apply hidden;
}

#sessionize.sessionize-wrapper .sz-modal-overlay {
  @apply !bg-black opacity-20;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-session__card a:hover,
#sessionize.sessionize-wrapper .sz-cssgrid .sz-session__card a:focus,
#sessionize.sessionize-wrapper .sz-cssgrid .sz-session__card a:active {
  @apply shadow-none border-b opacity-100 border-black !important;

  box-shadow: 0 theme('spacing.px') 0 0 theme('colors.black') !important;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-cssgrid__time-label {
  @apply !font-bold;
}

#sessionize.sessionize-wrapper .sz-modal-container-inner {
  @apply px-6;
}
